<p>
  <strong> Title: </strong>
  <%= @article.title %>
</p>

<p>
  <strong> Text: </strong>
  <%= @article.text %>
</p>

<%#where is articles_path coming from? %>
<%= link_to 'Back', articles_path %>
